################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Novitski Nikita/HomeWorkNumberOne/HomeWorkOne/.vs/HomeWorkOne/v16/.suo
