################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Novitski Nikita/HomeWorkNumberOne/HomeWorkOne/.vs/HomeWorkOne/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/it-academy-asp.net/v16
/.vs
/Novitski Nikita/HomeWorkNumberOne/HomeWorkOne/HomeWorkOne/obj
/Novitski Nikita/HomeWorkNumberOne/HomeWorkOne/TaxService.Tests/bin/Debug/netcoreapp3.1
/Novitski Nikita/HomeWorkNumberOne/HomeWorkOne/TaxService.Tests/obj/Debug/netcoreapp3.1
/Novitski Nikita/HomeWorkNumberOne/HomeWorkOne/TaxService.Tests/obj
/Novitski Nikita/HomeWorkNumberOne/HomeWorkOne/TaxService.Tests/TaxService.Tests.csproj
/Novitski Nikita/HomeWorkNumberOne/HomeWorkOne/HomeWorkOne.sln
/Novitski Nikita/HomeWorkNumberOne/HomeWorkOne/HomeWorkOne/HomeWorkOne.csproj
/Novitski Nikita/HomeWorkNumberOne/TaxService.cs
